<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Empresa - <%= employer.companyName %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container mt-5">
        <!-- Encabezado con el nombre de la empresa -->
        <a href="/feed" class="btn btn-secondary">Feed</a>
        <a href="/logout" class="btn btn-danger ml-2">Logout</a>
        <div class="card mb-5">
            <div class="card-header">
                <h2 class="text-center"><%= employer.companyName %></h2>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Industria:</strong> <%= employer.industry %></p>
                <p class="card-text"><strong>Descripción:</strong> <%= employer.description %></p>
            </div>
        </div>
        
        <!-- Lista de personas conectadas -->
        <h3>Personas Conectadas</h3>
        <ul class="list-group" id="connectedUsersList">
            <% connectedUsers.forEach(user => { %>
                <li class="list-group-item">
                    <h5><%= user.employee.name %></h5>
                    <p><strong>Email:</strong> <%= user.employee.cv.name %></p>
                    <p><strong>Descripción:</strong> <%= user.employee.cv.description %></p>
                    <a href="http://localhost:3001/pdf/<%= user.employee.cvId %>.pdf" class="btn btn-primary">Ver CV</a>
                </li>
            <% }); %>
        </ul>
    </div>
    </div>

    <footer class="text-center py-4">
        <p>&copy; 2024 Promociona tu CV. Todos los derechos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
